<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/base.css' %}">

</head>
<body>
    <header>
        <nav>
            <ul class="left-nav-list">
                <h1 class="logo">Cafe' 313</h1>
                <li class="nav-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a href="{% url 'register' %}">Menu</a></li>
            </ul>
            <ul class="right-nav-list">
                {% if user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                    <li class="nav-item"><a href="{% url 'register' %}">Register</a></li>
                    <li class="nav-item"><a href="{% url 'login' %}">Log in</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block content %}

    {% endblock content %}


    <footer>
        <h1>Directions</h1>
        <p>Go down main street and there is street parking. 
            Otherwise park behind the building</p>
    </footer>
</body>
</html>